*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Notification {
  display: flex;
  justify-content: flex-end;
  margin: 20px 20% 0 0;
}

.Notification_icon {
  display: flex;
  align-items: flex-start;
}

.Notification_icon img {
  border-radius: 50%;
  width: 72px;
  height: 72px;
  cursor: pointer;
}

.Notification-count {
  margin-left: -20px;
  padding: 5px;
  min-width: 15px;
  min-height: 15px;
  line-height: 10px;
  font-weight: 600;
  border-radius: 10px;
  background-color: red;
  color: white;
}

.Notification_modal {
  display: flex;
  justify-content: center;
}

.Modal_header {
  display: flex;
  justify-content: flex-end;
}

.Modal_header {
  cursor: pointer;
}

.Notification_list {
  padding: 30px;
  width: 45em;
  border: 1px solid #CCC;
  box-shadow: 3px 3px 30px 3px #CCC;
}
.Notification_list h1, h1, h3 {
  margin-bottom: 10px;
}