*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Notification {
  display: flex;
  justify-content: flex-end;
  margin: 20px 20% 0 0;
}

.Notification_icon {
  display: flex;
  align-items: flex-start;
}

.Notification_icon img {
  border-radius: 50%;
  width: 72px;
  height: 72px;
}

.Notification-count {
  margin-left: -20px;
  padding: 4px;
  font-weight: 600;
  border-radius: 50%;
  background-color: red;
  color: white;
}